﻿
@{
    ViewBag.Title = "Add New Hotel";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue;
                                      border:solid 2px red; padding-top:20px;">
    <tr>
        <td colspan="3" style="background-color:gray; font-size:18pt;
                                                                                font-weight:bold; height:30px; text-align:center;">
            Add New Hotel
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Hotel Id</td>
        <td><input type="text" ng-model="Id" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">HotelName</td>
        <td><input type="text" ng-model="HotelName" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">HotelRating</td>
        <td><input type="text" ng-model="HotelRating" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Latitude</td>
        <td><input type="text" ng-model="Latitude" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Phone</td>
        <td><input type="text" ng-model="Phone" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Address</td>
        <td><input type="text" ng-model="Address" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">IsActive</td>
        <td><input type="checkbox" ng-model="IsActive" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">RegisterDate</td>
        <td><input type="datetime" ng-model="RegisterDate" />  </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" data-ng-click="save()" />
        </td>
    </tr>

</table>  