﻿@{
    ViewBag.Title = "Delete Hotel";
}

<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Delete Hotel Information</td></tr>
    <tr>

        <td style="text-align:right;">hotel Id</td>
        <td>{{hotel.Id}}  </td>
    </tr>
    <tr>

        <td style="text-align:right;">Name # </td>
        <td> {{hotel.HotelName}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Rate # </td>
        <td>{{hotel.HotelRating}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Latitude # </td>
        <td>{{hotel.Latitude}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Phone # </td>
        <td>{{hotel.Phone}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Address # </td>
        <td>{{hotel.Address}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">IsActive # </td>
        <td>{{hotel.IsActive}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">RegisterDate # </td>
        <td>{{hotel.RegisterDate}}  </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Delete" ng-click="delete()" />
        </td>
    </tr>
</table>
