﻿@{
    ViewBag.Title = "Edit Hotel";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Edit Student Information</td></tr>
    <tr>

        <td style="text-align:right;">Hotel Id</td>
        <td><input type="text" ng-model="hotel.Id" />  </td>
    </tr>
    <tr>

        <td style="text-align:right;">Name</td>
        <td><input type="text" ng-model="hotel.HotelName" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Email</td>
        <td><input type="text" ng-model="hotel.HotelRating" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Class</td>
        <td><input type="text" ng-model="hotel.Latitude" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Enroll Year</td>
        <td><input type="text" ng-model="hotel.Phone" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">City</td>
        <td><input type="text" ng-model="hotel.Address" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Country</td>
        <td><input type="checkbox" ng-model="hotel.IsActive" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Country</td>
        <td><input type="datetime" ng-model="hotel.RegisterDate" />  </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" ng-click="save()" />
            <br />
            <div>{{error}}</div>
        </td>
    </tr>

</table>
