﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body data-ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <table cellpadding="5" cellspacing="6" width="100%" style="background-color:whitesmoke; border:solid 4px green;">
                    <tr>
                        <td style="border: solid 1px gray; width:170px; text-align:center;"><a href="showHotels"> Show All Hotels </a></td>
                        <td style="border: solid 1px gray; width:170px; text-align:center;"><a href="addHotel"> Add New Hotel </a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/Module.js")"></script>
    <script type="text/javascript" src="~/MyScripts/Services.js"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/ShowHotelsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/AddHotelController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/EditHotelController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/DeleteHotelController.js")"></script>
}

