﻿<table><tr><td height="10px"></td></tr></table>  
<table cellpadding="4" cellspacing="4" width="90%" align="center"   
       style="background-color: skyblue; border:solid 2px red; padding-top:20px;">  
    <thead>  
    <tr style="background-color:#F5F5F5;">  
        <th>Id</th>  
        <th>HotelName</th>  
        <th>HotelRating</th>  
        <th>Latitude</th>  
        <th>Longitude</th> 
        <th>Phone</th> 
        <th>Address</th> 
        <th>IsActive</th> 
        <th>RegisterDate</th> 
        <th></th>  
        <th></th>  
    </tr>  
    </thead>  
    <tbody>  
        <tr data-ng-repeat="hotel in Hotels">
            <td>{{hotel.Id}}</td>
            <td>{{hotel.HotelName}}</td>
            <td>{{hotel.HotelRating}}</td>
            <td>{{hotel.Latitude}}</td>
            <td>{{hotel.Longitude}}</td>
            <td>{{hotel.Phone}}</td>
            <td>{{hotel.Address}}</td>
            <td>{{hotel.IsActive}}</td>
            <td>{{hotel.RegisterDate}}</td>
            <td><a ng-click="editHotel(hotel.Id)">Edit</a></td>
            <td><a ng-click="deleteStudent(hotel.Id)">Delete</a></td>
        </tr>  
    </tbody>  
</table>  
